/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
.ionide

*.idea
*.iml

.vs
.vscode
.idea
.metals
.ionide

.clj-kondo
.shadow-cljs
.lsp
.calva

dist

node_modules