;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[org.clojure/core.match "1.0.0"]
  [org.clojure/data.priority-map "1.0.0"]]

 :builds
 {:webbed {:target :node-script
           :output-to "dist/index.js"
           :main webbed.core/foo}}}